node_modules/
dist/
tmp/
out-tsc/
.nx/cache/
.nx/workspace-data/
.nx/polygraph/
.nx/self-healing/
.nx/migrate-runs/
coverage/
*.log
.env
.env.*
!.env.example
.DS_Store
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea/

vitest.config.*.timestamp*